<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:util="http://www.springframework.org/schema/util"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
	 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	<bean id="author" class="xam.cross.Author">
    <property name="fullName" value="Conan Doyle"/>
    </bean>
    
    <bean id="book" class="xam.cross.Book">
    <constructor-arg index="0" ref="author"/>
    <constructor-arg index="1" value="Sherlock Holmes and Doctor Watson"/>
    </bean>
    
    <bean id="shoppingCart" class="xam.cross.ShoppingCart">
	    <constructor-arg index="0" ref="booksInCart"/>
    </bean>
    
    <bean id="booksInCart" class="java.util.ArrayList">
    	<constructor-arg>
    		<list value-type="xam.cross.Book">
    			<ref bean="book" />
    			<ref bean="book1" />
    			<ref bean="book2" />
    		</list>
    	</constructor-arg>
    </bean>
    
    <bean id="book1" class="xam.cross.Book">
    <constructor-arg index="0" ref="author"></constructor-arg>
    <constructor-arg index="1" value="Harry Potter"/>
    </bean>
    
    <bean id="book2" class="xam.cross.Book">
    <constructor-arg index="0" ref="author"></constructor-arg>
    <constructor-arg index="1" value="Mobby Dick"/>
    </bean>
    
</beans>